<div class="advisors section">
        <div class="row">
            <div class="col-md-5">
                <div class="has-carousel lazyLoad">
                    <div>
                        <h3><%- title -%></h3>
                        <p class="into"><%= quote1 -%></p>
                        <div class="signature">
                            <h4><%- speaker1 -%></h4>
                            <h6><%- company1 -%></h6>
                        </div>
                    </div> <!--end advisor -->
                    <div>
                        <h3><%- title -%></h3>
                        <p><%= quote2 -%></p>
                        <div class="signature">
                            <h4><%- speaker2 -%></h4>
                            <h6><%- company2 -%></h6>
                        </div>
                    </div> <!--end advisor -->


                </div> <!-- end carousel -->

            </div>
            <div class="col-md-7 pictures-container">
                <div class="row person-info-container">
                    <% for (var i = 0; i < 4; i++) { %>
                        <%- include('../blocks/person', members) %>
                    <% } %>
                </div><!-- End row -->
            </div>
        </div>
</div>
