<div class="section advisors">
        <div class="row">
            <div class="col-md-5">
              <h3><%- title -%></h3>
                <div class="has-carousel lazyLoad">
                    <div>
                        <p class="into"><%= qoutes[0].quote -%></p>
                        <div class="signature">
                          <div class="advisor-name">
                            <h4><%- qoutes[0].speaker -%></h4>
                          </div>
                            <h6><%- qoutes[0].company -%></h6>
                        </div>
                    </div> <!--end advisor -->
                    <div>
                        <p><%= qoutes[0].quote -%></p>
                        <div class="signature">
                            <h4><%- qoutes[0].speaker -%></h4>
                            <h6><%- qoutes[0].company -%></h6>
                        </div>
                    </div> <!--end advisor -->

                </div> <!-- end carousel -->

            </div>
            <div class="col-md-7 pictures-container">
                <div class="row person-info-container">
                    <% for (var i = 0; i < 4; i++) { %>
                        <%- include('../blocks/person', members) %>
                    <% } %>
                </div><!-- End row -->
            </div>
        </div>
</div>
