<div class="commit-funds section" id="commit">
        <div class="row">
            <div class="col-md-5">
                <div class="number">
                    <%- sections[0].point -%>
                </div>
                <div class="content spacing">
                    <h3><%- sections[0].title -%></h3>
                        <p><%- sections[0].paragraph1 -%></p>
                        <p><%- sections[0].paragraph2 %></p>
                </div>
                  <div class="section-seperator"></div>
                  <ul class="seperator">
                      <li><i class="material-icons">file_upload</i><a class="comming-soon" href="<%= sections[0].links[0].href-%>" ><%= sections[0].links[0].link-%></a></li>
                      <li><i class="material-icons">link</i><a class="comming-soon" href="<%= sections[0].links[1].href-%>" ><%= sections[0].links[1].link-%></a></li>
                      <li><i class="material-icons">link</i><a class="comming-soon" href="<%= sections[0].links[2].href-%>" ><%= sections[0].links[2].link-%></a></li>
                      <li><i class="material-icons">link</i><a class="comming-soon" href="<%= sections[0].links[3].href-%>" ><%= sections[0].links[3].link-%></a></li>

                  </ul>
            </div> <!-- end col-md-6 -->

            <div class="col-md-offset-2 col-md-5">
                <div class="number">
                    <%- sections[1].point -%>
                </div>
                <div class="content">
                    <h3><%- sections[1].title -%></h3>
                    <p><%- sections[1].paragraph1 %></p>
                    <p><%- sections[1].paragraph2 %></p>
                </div>
                <div class="section-seperator"></div>
                <ul>
                    <li><i class="material-icons">file_upload</i><a class="comming-soon" href="<%= sections[1].links[0].href-%>" ><%= sections[1].links[0].link-%></a></li>
                </ul>
            </div> <!-- end col-md-6 -->
        </div>
</div>
