<div class="commit-funds section">
        <div class="row">
            <div class="col-md-5">
                <div class="number">
                    <%- sections[0].point -%>
                </div>
                <div class="content seperator">
                    <h3><%- sections[0].title -%></h3>
                        <p><%- sections[0].paragraph1 -%></p>
                        <p><%- sections[0].paragraph2 %></p>
                </div>
            </div> <!-- end col-md-6 -->

            <div class="col-md-offset-2 col-md-5">
                <div class="number">
                    <%- sections[1].point -%>
                </div>
                <div class="content">
                    <h3><%- sections[1].title -%></h3>
                    <p><%- sections[1].paragraph1 %></p>
                    <p><%- sections[1].paragraph2 %></p>
                </div>
            </div> <!-- end col-md-6 -->
        </div>
</div>
