<div class="commit-funds section">
        <div class="row">
            <div class="col-md-5">
                <div class="number">
                    <%- point1 -%>
                </div>
                <div class="content">
                    <h3><%- title1 -%></h3>
                        <p><%- paragraph1a -%></p>
                        <p><%- paragraph1b %></p>
                </div>
                <div><br></div>
            </div> <!-- end col-md-6 -->

            <div class="col-md-offset-2 col-md-5">
                <div class="number">
                    <%- point2 -%>
                </div>
                <div class="content">
                    <h3><%- title2 -%></h3>
                    <p><%- paragraph2a %></p>
                    <p><%- paragraph2b %></p>
                </div>
            </div> <!-- end col-md-6 -->
        </div>
</div>
