<div class="easy-access">
    <div class="section">
        <div class="row">
            <div class="col-md-5" id="platform-first-col">

                <h3><%- title -%></h3>
                <p><%- paragraph -%></p>
                <span><%- remark -%></span>
                <ul>
                    <li><a href="https://github.com/Neufund/" target="_blank" ><%- link1 -%></a></li>
                </ul>

                <button class="btn btn-white comming-soon" id="platform-btn">
                    <%- button -%>
                </button>
            </div> <!-- end col-md-5 -->

            <div class="col-md-7 shapes" id="platform-second-col">
                <img src="../assets/Platforma_Temp.png" class="img-responsive" />
            </div> <!-- end col-md-7 -->
        </div>
    </div>
    <img class="left-hexagon" src="../assets/Combined-Shape.png"/>
</div>
