<div class="easy-access">
    <div class="section">
        <div class="row">
            <div class="col-md-5">

                <h3><%- title -%></h3>
                <p><%- paragraph -%></p>
                <span><%- remark -%></span>
                <ul>
                    <li><a href="#" ><%- link1 -%></a></li>
                    <li><a href="#" ><%- link2 -%></a></li>
                </ul>

                <button class="btn btn-white">
                    <%- button -%>
                </button>
            </div> <!-- end col-md-5 -->

            <div class="col-md-7 shapes">
                <img src="../assets/Platforma_Temp.png" />
                <div id="hex6" class="hexagon-wrapper">
                    <div class="hexagon hexagon-blue"></div>
                </div>

                <div id="hex1" class="hexagon-wrapper">
                    <div class="hexagon hexagon-blue"></div>
                </div>

                <div id="hex2" class="hexagon-wrapper">
                    <div class="hexagon hexagon-white-green"></div>
                </div>
                <div id="hex5" class="hexagon-wrapper">
                    <div class="hexagon hexagon-white-green"></div>
                </div>

                <div id="hex4" class="hexagon-wrapper">
                    <div class="hexagon hexagon-white-green"></div>
                </div>

                <div id="hex3" class="hexagon-wrapper">
                    <div class="hexagon hexagon-blue"></div>
                </div>
            </div> <!-- end col-md-7 -->
        </div>
    </div>
</div>
