<div class="easy-access">
    <div class="section">
        <div class="row">
            <div class="col-md-5">

                <h3><%- title -%></h3>
                <p><%- paragraph -%></p>
                <span><%- remark -%></span>
                <ul>
                    <li><a href="#" ><%- link1 -%></a></li>
                    <li><a href="#" ><%- link2 -%></a></li>
                </ul>

                <button class="btn btn-white">
                    <%- button -%>
                </button>
            </div> <!-- end col-md-5 -->

            <div class="col-md-7 shapes">
                <img src="../assets/Platforma_Temp.png" />
            </div> <!-- end col-md-7 -->
        </div>
    </div>
    <img class="left-hexagon" src="../assets/Combined-Shape.png"/>
</div>
