<div class="ecosystem section">
  <div class="container">
    <div class="row" id="depth">
      <h2 class="section-title"><%- depth.title -%></h2>
    </div>
    <div class="row">
      <div class="col-md-4 in-depths-links">
        <ul class="separator compact-list">
          <% for(var i = 0; i < 4; i++) { %>
          <li>
            <i class="material-icons">link</i>
            <a href="<%- depth.links[i].href %>" target="_blank" ><%- depth.links[i].link %></a>
            <% if (depth.links[i].new){ %>
              <sup>NEW</sup>
            <% } %>
            <% if (depth.links[i].keyRead){ %>
              <sup>KEY READ</sup>
            <% } %>
          </li>
          <% } %>
        </ul>
      </div>
      <div class="col-md-4 in-depths-links">
        <ul class="separator compact-list">
          <% for(var i = 4; i < 7; i++) { %>
          <li>
            <i class="material-icons">link</i>
            <a href="<%- depth.links[i].href %>" target="_blank" ><%- depth.links[i].link %></a>
            <% if (depth.links[i].new){ %>
              <sup>NEW</sup>
            <% } %>
            <% if (depth.links[i].keyRead){ %>
              <sup>KEY READ</sup>
            <% } %>
          </li>
          <% } %>
        </ul>
      </div>
      <div class="col-md-4 in-depths-links">
        <ul class="separator compact-list">
          <% for(var i = 7; i < depth.links.length; i++) { %>
          <li>
            <i class="material-icons">link</i>
            <a href="<%- depth.links[i].href %>" target="_blank" ><%- depth.links[i].link %></a>
            <% if (depth.links[i].new){ %>
              <sup>NEW</sup>
            <% } %>
            <% if (depth.links[i].keyRead){ %>
              <sup>KEY READ</sup>
            <% } %>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
</div>
