<div class="section">
  <div class="ecosystem">
    <div class="row">
      <img class="logo" src="./assets/NeuFund_logo_full_white_72dpi Copy 4@3x.png" />
      <h3><%- title -%></h3>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p class="padme" class="content"><%= paragraph -%></p>
        <div class="goto-element"><%= subtitle -%></div>
        <ul>
          <li><a><%= linka1 -%></a></li>
          <li><a><%= linka2 -%></a></li>
        </ul>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <div class="text-box">  <%= subtitleb1 -%>
              <div class="underline"></div>
            </div>
            <div class=subtitle><%= linkb1 -%></div>
            <div class="text-box"> <%= subtitleb2 -%>
              <div class="underline"></div>
            </div>
            <div class=subtitle><%= linkb2 -%></div>
          </div>

          <div class="col-md-6">
            <div class="text-box"> <%= subtitleb3 -%>
              <div class="underline"></div>
            </div>
            <div class=subtitle><%= linkb3 -%></div>
            <div class="text-box"> <%= subtitleb4 -%>
              <div class="underline"></div>
            </div>
            <div class=subtitle><%= linkb4 -%></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
