<div class="ecosystem section">
  <div class="container">
    <div class="row">
      <%- include("../blocks/hi-res-img", { path: "./assets/NeuFund_logo_full_white", alt: "Neufund logo", cls: "logo" }) %>
      <h2><%= title -%></h2>
    </div>
    <div class="row">
      <div class="col-md-5">
        <p class="padme" class="content"><%= paragraph -%></p>
        <div class="goto-element"><%= subtitle -%></div>
        <ul class="compact-list">
          <li><i class="material-icons">link</i><a href="<%= links[0].ref -%>" target="_blank"><%= links[0].name -%></a></li>
          <li><i class="material-icons">link</i><a href="<%= links[1].ref -%>" target="_blank"><%= links[1].name -%></a></li>
        </ul>
      </div>

      <div class="col-md-7">
        <div class="row">
          <div class="col-md-6">

            <div class="text-box">
              <h5><%= features[0].name -%></h5>
              <div class="underline"></div>
              <div class=subtitle><a href="<%= features[0].href -%>" target="_blank" ><%= features[0].subtitle -%></a></div>
            </div> <!-- end text box -->

            <div class="text-box">
              <h5><%= features[1].name -%></h5>
              <div class="underline"></div>
              <div class=subtitle><a href="<%= features[1].href -%>" target="_blank"><%= features[1].subtitle -%></a></div>
            </div> <!-- end text box -->
          </div>

          <div class="col-md-6">
            <div class="text-box">
              <h5><%= features[2].name -%></h5>
              <div class="underline"></div>
              <div class=subtitle><a href="<%= features[2].href -%>" target="_blank"><%= features[2].subtitle -%></a></div>
            </div> <!-- end text box -->

            <div class="text-box">
              <h5><%= features[3].name -%></h5>
              <div class="underline"></div>
              <div class=subtitle><a href="<%= features[3].href -%>" target="_blank"><%= features[3].subtitle -%></a></div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <h2 class="section-title"><%- depth.title -%></h2>
    </div>
    <div class="row in-depths-links">
      <div class="col-md-offset-1 col-md-11">
        <div class="row">
          <div class="col-md-4">
            <ul class="separator compact-list">
              <% for(var i = 0; i < 3; i++) { %>
              <li>
                <i class="material-icons">link</i>
                <a href="<%- depth.links[i].href %>" target="_blank" ><%- depth.links[i].link %></a>
                <% if (depth.links[i].new){ %>
                  <sup>NEW</sup>
                <% } %>
                <% if (depth.links[i].keyRead){ %>
                  <sup>KEY READ</sup>
                <% } %>
              </li>
              <% } %>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="separator compact-list">
              <% for(var i = 3; i < 6; i++) { %>
              <li>
                <i class="material-icons">link</i>
                <a href="<%- depth.links[i].href %>" target="_blank" ><%- depth.links[i].link %></a>
                <% if (depth.links[i].new){ %>
                  <sup>NEW</sup>
                <% } %>
                <% if (depth.links[i].keyRead){ %>
                  <sup>KEY READ</sup>
                <% } %>
              </li>
              <% } %>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="separator compact-list">
              <% for(var i = 6; i < depth.links.length; i++) { %>
              <li>
                <i class="material-icons">link</i>
                <a href="<%- depth.links[i].href %>" target="_blank" ><%- depth.links[i].link %></a>
                <% if (depth.links[i].new){ %>
                  <sup>NEW</sup>
                <% } %>
                <% if (depth.links[i].keyRead){ %>
                  <sup>KEY READ</sup>
                <% } %>
              </li>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
