<div class="footer-container">
    <div class="section footer">
        <ul>
            <li><a target="_blank" href="<%= link1 -%>" ><img src="<%= img1 -%>" /></a></li>
            <li><a target="_blank" href="<%= link2 -%>" ><img src="<%= img2 -%>" /></a></li>
            <li><a target="_blank" href="<%= link3 -%>" ><img src="<%= img3 -%>" /></a></li>
            <li><a target="_blank" href="<%= link4 -%>" ><img src="<%= img4 -%>" /></a></li>
            <li><a target="_blank" href="<%= link5 -%>" ><img src="<%= img5 -%>" /></a></li>
        </ul>
    </div>

    <div class="footer-bottom">
        <span class="hander"><%= bottomtitle -%></span>
        <a class="email" traget="_blank" href="<%= weblink -%>"><%= website -%></a>
        <a class="email" href="<%= emaillink -%>"><%= email -%></a>

        <div class="footer-hex">
            <div class="hexagon-wrapper">
                <div class="hexagon hexagon-white-green"></div>
            </div>
        <div>
    </div>
</div>
