<div class="footer-bottom-container">
    <div class="container footer-bottom">
        <div class="border-top">
            <img src="./assets/footer.png" class="footer-hex"></img>
            <span class="hander"><%= bottomtitle -%></span>
            <a class="email" traget="_blank" href="<%= weblink -%>"><%= website -%></a>
            <a class="email" href="<%= emaillink -%>"><%= email -%></a>
        </div>
    </div>
</div>
