<div class="footer <% if( typeof hide !== "undefined" && hide ) { %>hidden<% } %>">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <a href="<%=neufund_url%>"><%- include("../blocks/hi-res-img", { path: "/assets/NeuFund_logo_full_white", alt: "Neufund logo", cls: "logo" }) %></a><br />
        <br />
        <span class="address"><%-address%></span>
      </div>

      <div class="col-sm-7 second-col">
        <div class="row">
          <div class="col-sm-4 separated-mobile">
            <a href="<%=commit_url%>"><%=commit_txt%></a><br />
            <a href="<%=whitepaper_url%>"><%=whitepaper_txt%></a><br />
            <a href="<%=lightpaper_url%>"><%=lightpaper_txt%></a><br />
          </div>
        </div>
      </div>
    </div>

    <div class="row second-row">
      <div class="col-xs-6 col-sm-5"><%=bottom_title%></div>
    </div>
  </div>
  <%- include('../blocks/hi-res-img', { path: "/assets/footer", alt: "hexagon-shape", cls: "footer-hex" })%>
</div>
