<div class="footer-bottom-container">
    <div class="container footer-bottom">
        <div class="border-top">
            <span class="hander"><%= bottomtitle -%></span>
            <a class="email" traget="_blank" href="<%= weblink -%>"><%= website -%></a>
            <a class="email" href="<%= emaillink -%>"><%= email -%></a>

            <div class="footer-hex">
                <div class="hexagon-wrapper">
                    <div class="hexagon hexagon-white-green"></div>
                </div>
            <div>
        </div>
                
    </div>
</div>
