<div class="footer <% if( typeof hide !== "undefined" && hide ) { %>hidden<% } %>">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <a href="<%=neufund_url%>"><%- include("../blocks/hi-res-img", { path: "/assets/NeuFund_logo_full_white", alt: "Neufund logo", cls: "logo" }) %></a><br />
        <br />
        <span class="address"><%-address%></span>
      </div>

      <div class="col-sm-7 second-col">
        <div class="row">
          <div class="col-sm-4 separated-mobile">
            <a href="<%=commit_url%>"><%=commit_txt%></a><br />
            <a href="<%=whitepaper_url%>"><%=whitepaper_txt%></a><br />
            <a href="<%=lightpaper_url%>"><%=lightpaper_txt%></a><br />
            <a href="<%=faq_url%>"><%=faq_txt%></a>
          </div>

          <div class="col-sm-8 separated-mobile">
            <%-text%>
            <div class="social">
              <a href="https://www.facebook.com/neufundorg/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="https://twitter.com/neufundorg" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a href="https://neufund.org/slack" target="_blank"><i class="fa fa-slack" aria-hidden="true"></i></a>
              <a href="https://t.me/neufund" target="_blank"><i class="fa fa-telegram" aria-hidden="true"></i></a>
              <a href="https://github.com/Neufund/" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
              <a href="https://blog.neufund.org/" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row second-row">
      <div class="col-xs-6 col-sm-5"><%=bottom_title%></div>
    </div>
  </div>
  <%- include('../blocks/hi-res-img', { path: "/assets/footer", alt: "hexagon-shape", cls: "footer-hex" })%>
</div>
