<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="<%= meta.description %>" />
    <meta name="keywords" content="<%= meta.keywords %>" />
    <meta name="robots" content="/robots.txt" />

    <meta property="og:title" content="Neufund | <%= title %>" />
    <meta property="og:image" content="<%= meta.image_logo %>" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="<%= meta.description %>" />
    <meta property="og:url" content="<%= meta.url %>" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@neufundorg" />
    <meta name="twitter:title" content="Neufund | <%= title %>" />
    <meta name="twitter:description" content="<%= meta.description %>" />
    <meta name="twitter:image" content="<%= meta.image_logo %>" />
    <meta name="twitter:image:alt" content="<%= meta.image_logo %>" />

    <link rel="shortcut icon" href="assets/favicon_neufund.ico" />

    <title>Neufund | <%= title %></title>

    <link rel="stylesheet" type="text/css" href="app<%= hashes.cssBundleHash %>.css">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Montserrat:200,300,400,500,600,700,900" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '<%= GA_ID %>', 'auto');
      ga('send', 'pageview');

      var callback = function(){
        new Clipboard('.copy-to-clipboard');
      };

      if (
        document.readyState === "complete" ||
        (document.readyState !== "loading" && !document.documentElement.doScroll)
      ) {
        callback();
      } else {
        document.addEventListener("DOMContentLoaded", callback);
      }

      !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '<%= FB_PIXEL_ID %>');
        fbq('track', 'PageView');
    </script>
    <noscript>
      <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=<%= FB_PIXEL_ID %>&ev=PageView&noscript=1"/>
    </noscript>
</head>
