 <div class="container react-app">
    <div id="react-root"></div>
 </div>

<%
const checkSectionVisiablity = function(item, content) {
    if(item.visible != undefined && item.visible)
        return content
}
%>

<%- include('mailchimp'); %>

<%- include('press', content.press); %>

<%- include('platform-overview'); %>

<% for(var i=0; i < content['why-how'].sections.length; i++) {%>
    <%- include('why-how', Object.assign({}, content['why-how'].sections[i], { index: i + 1 })) %>
<% } %>
<div class="container">
    <div class="section">
        <div id="react-root-curve"></div>
    </div>
</div>
<%- checkSectionVisiablity(content.invest_platform, include('invest-platform', content.invest_platform)); %>

<%- checkSectionVisiablity(content.team, include('team', content.team)); %>

<%- checkSectionVisiablity(content.advisors, include('advisors', content.advisors)); %>

<%- checkSectionVisiablity(content.advisors, include('quotes', content.quotes)); %>

<%- checkSectionVisiablity(content.ecosystem, include('ecosystem',  content.ecosystem )); %>
