 <div class="container react-app">
    <div id="react-root"></div> 
 </div>

<%
const checkSectionVisiablity = function(item, content) {
    if(item.visible != undefined && item.visible)
        return content
}
%>
<%- include('press', content.footer); %>

<%- include('platform-overview'); %>

<% for(var i=0; i < content['why-how'].sections.length; i++) {%>    
    <%- include('why-how', Object.assign({}, content['why-how'].sections[i], { index: i + 1 })) %>
<% } %>

<%- checkSectionVisiablity(content.easy_access, include('easy_access', content.easy_access)); %>

<%- checkSectionVisiablity(content.team, include('team', content.team)); %>

<%- checkSectionVisiablity(content.advisors, include('advisors', content.advisors)); %>

<%- checkSectionVisiablity(content.ecosystem, include('ecosystem',  content.ecosystem )); %>
