 <div class="container react-app">
    <div id="react-root">
      <div class="loading-spinner-container">
        <div class="animated-loading-spinner"></div>
      </div>
    </div>
 </div>

<%
const checkSectionVisiablity = function(item, content) {
    if(item.visible != undefined && item.visible)
        return content
}
%>

<%- include('press', content.press); %>

<!--<%- include('platform-overview'); %>-->

<!--<%- include('why-how', Object.assign({}, content['why-how'].sections[0], { index: 0 })) %>-->

<!--<div class="container" id="curve">-->
<!--    <div class="section curve">-->
<!--        <div id="react-root-curve"></div>-->
<!--    </div>-->
<!--</div>-->

<!--<%- include('why-how', Object.assign({}, content['why-how'].sections[1], { index: 1 })) %>-->

<%- checkSectionVisiablity(
  content.invest_platform,
  include('invest-platform', Object.assign({}, content.invest_platform, { PLATFORM_ENABLED: PLATFORM_ENABLED }))
); %>

<%- checkSectionVisiablity(content.team, include('team', content.team)); %>

<%- checkSectionVisiablity(content.advisors, include('advisors', content.advisors)); %>

<%- checkSectionVisiablity(content.quotes, include('quotes', content.quotes)); %>

<!--<%- include('newsletter'); %>-->

<%- checkSectionVisiablity(content.ecosystem, include('ecosystem',  content.ecosystem )); %>
