 <div class="container">
    <div id="react-root"></div> 
 </div>

<%
const checkSectionVisiablity = function(item, content) {
    if(item.visible != undefined && item.visible)
        return content
}
%>
<%- include('press', content.footer); %> 

<%- include('platform-overview'); %>

<%- include('commit_funds',  content.commit_funds ); %>

<%- include('easy_access', content.easy_access); %>

<%- checkSectionVisiablity(content.team, include('team', content.team)); %>

<%- checkSectionVisiablity(content.advisors, include('advisors', content.advisors)); %>

<%- checkSectionVisiablity(content.ecosystem, include('ecosystem',  content.ecosystem )); %>