 <div class="container react-app">
    <div id="react-root">
      <div class="loading-spinner-container">
        <div class="animated-loading-spinner"></div>
      </div>
    </div>
 </div>

<%
const checkSectionVisiablity = function(item, content) {
    if(item.visible != undefined && item.visible)
        return content
}
%>

<%- include('press', content.press); %>

<%- checkSectionVisiablity(
  content.invest_platform,
  include('invest-platform', Object.assign({}, content.invest_platform, { PLATFORM_ENABLED: PLATFORM_ENABLED }))
); %>

<%- checkSectionVisiablity(content.team, include('team', content.team)); %>

<%- checkSectionVisiablity(content.advisors, include('advisors', content.advisors)); %>

<%- checkSectionVisiablity(content.quotes, include('quotes', content.quotes)); %>

<%- checkSectionVisiablity(content.ecosystem, include('ecosystem',  content.ecosystem )); %>
