<div class="section no-border">
    <div class="container landing">
        <div class="row">
            <div class="col-md-12">
                <%- include("../blocks/hi-res-img", { path: "/assets/NeuFund_logo_full_white", alt: "Neufund logo", cls: "logo" }) %>
                <h2><%- title %></h2>
            </div>
        </div>
        <div>
            <%- description %>
        </div>
        <div class="row btn-container">
          <a href="<%- link %>" class="btn btn-link btn-primary">Download <%- title %></a>
        </div>
    </div>
</div>
