<div class="key-reading section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="section-title"><%- title -%></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-11">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="separator compact-list">
                            <% for(var i = 0; i < 4; i++) { %>
                                <li>
                                    <i class="material-icons"><%- links[i].downloadable? "file_download" : "link" %> </i>
                                    <a href="<%- links[i].href %>" target="_blank" ><%- links[i].link %></a>
                                    <% if (links[i].new){%>
                                        <sup>NEW</sup>
                                    <%}%>
                                </li>
                            <% } %>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="separator compact-list">
                            <% for(var i = 4; i < links.length; i++) { %>
                                <li>
                                    <i class="material-icons"><%- links[i].downloadable? "file_download" : "link" %> </i>
                                    <a href="<%- links[i].href %>" target="_blank" ><%- links[i].link %></a>
                                    <% if (links[i].new){%>
                                        <sup>NEW</sup>
                                    <%}%>
                                </li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
