<div class="participating section">
    <div class="row">
        <div class="col-md-5">
            <div class="">
                <div>
                    <h3><%- title -%></h3>
                    <p><%- paragrapha -%></p>
                    <p><%- paragraphb -%></p>
                </div>
            </div>  <!-- end col-md-5 -->
            <div class="key-to-read">
                <h3><%- subtitle -%></h3>
                <ul>                
                    <li><i class="material-icons">file_upload</i><a id="neufund-whitepaper-btn" href="#" ><%- link1 -%></a></li>
                    <li><i class="material-icons">file_upload</i><a href="#" ><%- link2 -%></a></li>
                    <li><i class="material-icons">file_upload</i><a href="#" ><%- link3 -%></a></li>
                </ul>

            </div>

        </div> <!-- end col-md-5 -->

        <div class="col-md-7">

        </div> <!-- end col-md-7 -->
    </div>
</div>
