<div class="participating section">
    <div class="row">
        <div class="col-md-5">
            <div class="">
                <div>
                    <h3><%- title -%></h3>
                    <p><%- paragrapha -%></p>
                </div>
            </div>  <!-- end col-md-5 -->
            <div class="key-to-read">
                <h3><%- subtitle -%></h3>

                <ul class="compact-list">
                    <li><i class="material-icons">file_download</i><a href="<%- links[0].target -%>" target="_blank"><%- links[0].link -%></a></li>
                    <li><i class="material-icons">file_download</i><a href="<%- links[1].target -%>" target="_blank"><%- links[1].link -%></a></li>
                    <li><i class="material-icons">file_download</i><a href="<%- links[2].target -%>" target="_blank"><%- links[2].link -%></a> <sup>NEW</sup></li>
                </ul>

            </div>

        </div> <!-- end col-md-5 -->

        <div class="col-md-7">
          <img src="../assets/Infographics.png" srcset="../assets/Infographics@2x.png 892w, ../assets/Infographics@3x.png 1338w" class="img-responsive info-img" alt="infographics" />
        </div> <!-- end col-md-7 -->
    </div>
</div>
