<div class="participating section">
    <div class="row">
        <div class="col-md-5">
            <div class="">
                <div>
                    <h3><%- title -%></h3>
                    <p><%- paragrapha -%></p>
                </div>
            </div>  <!-- end col-md-5 -->
            <div class="key-to-read">
                <h3><%- subtitle -%></h3>

                <ul class="compact-list">
                    <li><i class="material-icons">file_upload</i><a class="comming-soon" href="#" ><%- links[0].link -%></a></li>
                    <li><i class="material-icons">file_upload</i><a class="comming-soon" href="#" ><%- links[1].link -%></a></li>
                </ul>

            </div>

        </div> <!-- end col-md-5 -->

        <div class="col-md-7">

        </div> <!-- end col-md-7 -->
    </div>
</div>
