<%- include('product_menu', {}); %>
<%- include('product_section_header', productContent.header); %>
<div class="product-horiz-line"></div>
<%- include('press', content.press); %>
<%- include('product_section_r3', productContent.who_can_use); %>
<%- include('product_section_demistifying_blockchain', productContent.demistifying_blockchain); %>
<%- include('product_section_image', productContent.investors_dashboard); %>
<%- include('product_section_l', productContent.main_feature); %>
<%- include('product_section_r2', productContent.invisible_blockchain); %>
<%- include('product_section_l', productContent.benefits_of_blockchain); %>
<%- include('product_section_image', productContent.startups_dashboard); %>
<%- include('product_section_r', productContent.disrupting_fundraising); %>
<%- include('product_section_l2', productContent.post_investment_management_tool); %>
<%- include('product_section_r4', productContent.manage_company); %>
<%- /*include('product_section_image', productContent.neufund_profile);*/ %>
<%- include('product_section_cols', productContent.feature_by_feature); %>
<%- include('product_section_last', productContent.last); %>
