<div
  id="<%- id -%>"
  data-menu-text="<%- menu_text -%>"
  class="section product product-l<% if (white===true) { %> bg-white<% } %>"
  <% if (bg_url) { %> style="background-image: url('<%- bg_url -%>')" <% } %>
>
  <div class="container">
    <div class="cf-row">
      <div class="cf-md-5 with-background-text order-mobile">
        <% if (backgroundText!==undefined && backgroundText!=="") {%>
          <div class="background-text"><%- backgroundText -%></div>
        <% } %>
        <div class="text-box<% if (purple_title===true) { %> text-box-purple<% } %>">
            <h5><%- title -%></h5>
            <div class="underline"></div>
        </div> <!-- end text box -->
        <h3><%- headline -%></h3>

        <% for(var i=0; i < paragraphs.length; i++) {%>
          <p>
            <%- paragraphs[i] -%>
          </p>
        <% } %>

      </div>
      <div class="cf-md-7">
        <div class="product-l2-bg">


        </div>
        <%- include("../blocks/hi-res-img", { path: image, alt: menu_text, cls: "img-product img-shadow img-responsive img-scroll" }) %>
      </div>
    </div>
  </div>
</div>
