<% if (white===true) { %>
<div class="section product product-last bg-white">
<% } else { %>
<div class="section product product-last">
<% } %>
  <div class="container">
    <h3><%- headline -%></h3>
    <a class="last-btn" href="<%- button_url -%>"><%- button_text -%></a>
    <a class="last-link" href="<%- link_url -%>"><%- link_text -%></a>
  </div>
</div>
