<div class="section section-product section-product-l">
    <div class="row">
      <div class="col-md-5 with-background-text">
        <% if (backgroundText!==undefined && backgroundText!=="") {%>
          <div class="background-text"><%- backgroundText -%></div>
        <% } %>
        <div class="text-box">
            <h5><%- title -%></h5>
            <div class="underline"></div>
        </div> <!-- end text box -->
        <h3><%- headline -%></h3>

        <% for(var i=0; i < paragraphs.length; i++) {%>
          <p>
            <%- paragraphs[i] -%>
          </p>
        <% } %>

      </div>
      <div class="col-md-7">
        <img class="img-responsive" src="/assets/<%- image -%>" />
      </div>
    </div>

</div>
