<div
  class="section product product-r <% if (white===true) { %> bg-white<% } %>"
  <% if (bg_url) { %> style="background-image: url('<%- bg_url -%>')" <% } %>
>
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <img class="img-responsive" src="/assets/<%- image -%>" />
      </div>
      <div class="col-md-5">
        <div class="text-box">
            <h5><%- title -%></h5>
            <div class="underline"></div>
        </div> <!-- end text box -->
        <h3><%- headline -%></h3>

        <% for(var i=0; i < paragraphs.length; i++) {%>
          <p>
            <%- paragraphs[i] -%>
          </p>
        <% } %>

      </div>
    </div>
  </div>
</div>
