<div class="section section-product section-product-last">
  <h3><%- headline -%></h3>
  <a class="last-btn" href="<%- button_url -%>"><%- button_text -%></a>
  <a class="last-link" href="<%- link_url -%>"><%- link_text -%></a>
</div>
