<div
  id="<%- id -%>"
  data-menu-text="<%- menu_text -%>"
  class="section product product-r <% if (white===true) { %> bg-white<% } %>"
  <% if (bg_url) { %> style="background-image: url('<%- bg_url -%>')" <% } %>
>
  <div class="product-r-bg">
    <img
      src="/assets/hex-bg/v.svg"
    />
  </div>
  <div class="container">
    <div class="cf-row">
      <div class="cf-md-7">
        <img
          class="img-responsive img-scroll"
          src="/assets/<%- image[0].url -%>"
          srcset="/assets/<%- image[1].url -%> <%- image[1].width -%>w, /assets/<%- image[2].url -%> <%- image[2].width -%>w"
        />
      </div>
      <div class="cf-md-5">
        <div class="text-box<% if (purple_title===true) { %> text-box-purple<% } %>">
            <h5><%- title -%></h5>
            <div class="underline"></div>
        </div> <!-- end text box -->
        <h3><%- headline -%></h3>

        <% for(var i=0; i < paragraphs.length; i++) {%>
          <p>
            <%- paragraphs[i] -%>
          </p>
        <% } %>

      </div>
    </div>
  </div>
</div>
