<%- include('product_section_header', productContent.header); %>
<%- include('press', content.footer); %>
<div class="product-horiz-line"></div>
<%- include('product_section_r3', productContent.who_can_use); %>
<%- include('product_section_l', productContent.main_feature); %>
<%- include('product_section_r2', productContent.invisible_blockchain); %>
<%- include('product_section_l', productContent.benefits_of_blockchain); %>
<%- include('product_section_image', productContent.investors_dashboard); %>
<%- include('product_section_image', productContent.startups_dashboard); %>
<%- include('product_section_r', productContent.disrupting_fundraising); %>
<%- include('product_section_l', productContent.post_investment_management_tool); %>
<%- include('product_section_image', productContent.neufund_profile); %>
<%- include('product_section_cols', productContent.reward_revenue); %>
<%- include('product_section_cols', productContent.feature_by_feature); %>
<%- include('product_section_last', productContent.last); %>
