<div
  id="<%- id -%>"
  data-menu-text="<%- menu_text -%>"
  class="section product disrupting_fundraising product-r <% if (white===true) { %> bg-white<% } %>"
  <% if (bg_url) { %> style="background-image: url('<%- bg_url -%>')" <% } %>
>
  <div class="product-r-bg hidden-xs">
    <img
      src="/assets/hex-bg/v.svg"
    />
  </div>
  <div class="container">
    <div class="cf-row">
      <div class="cf-md-7">
          <%- include("../blocks/hi-res-img", { path: images[0], alt: "Platform", cls: "img-small img-scroll platform-img-1 img-shadow hidden-xs" }) %>
          <%- include("../blocks/hi-res-img", { path: images[1], alt: "Platform", cls: "img-small img-scroll platform-img-2 img-shadow" }) %>
      </div>
      <div class="cf-md-5">
        <div class="text-box<% if (purple_title===true) { %> text-box-purple<% } %>">
            <h5><%- title -%></h5>
            <div class="underline"></div>
        </div> <!-- end text box -->
        <h3><%- headline -%></h3>

        <% for(var i=0; i < paragraphs.length; i++) {%>
          <p>
            <%- paragraphs[i] -%>
          </p>
        <% } %>

      </div>
    </div>
  </div>
</div>
