<div
  id="<%- id -%>"
  data-menu-text="<%- menu_text -%>"
  class="section product product-r3 <% if (white===true) { %> bg-white<% } %>"
  <% if (bg_url) { %> style="background-image: url('<%- bg_url -%>')" <% } %>
>
  <div class="container">
    <div class="cf-row">
      <div class="cf-md-7">
        <div class="product-r3-row-wrapper">
          <div class="row">
            <div class="col-xs-4 product-r3-1">
              <img
                class="img-r3"
                src="/assets/<%- images[0][0].url -%>"
                srcset="/assets/<%- images[0][1].url -%> <%- images[0][1].width -%>w, /assets/<%- images[0][2].url -%> <%- images[0][2].width -%>w"
              />
            </div>
            <div class="col-xs-4 product-r3-2">
              <img
                class="img-r3"
                src="/assets/<%- images[1][0].url -%>"
                srcset="/assets/<%- images[1][1].url -%> <%- images[1][1].width -%>w, /assets/<%- images[1][2].url -%> <%- images[1][2].width -%>w"
              />
            </div>
            <div class="col-xs-4 product-r3-3">
              <img
                class="img-r3"
                src="/assets/<%- images[2][0].url -%>"
                srcset="/assets/<%- images[2][1].url -%> <%- images[2][1].width -%>w, /assets/<%- images[2][2].url -%> <%- images[2][2].width -%>w"
              />
            </div>
          </div>
        </div>

      </div>
      <div class="cf-md-5">
        <div class="text-box<% if (purple_title===true) { %> text-box-purple<% } %>">
            <h5><%- title -%></h5>
            <div class="underline"></div>
        </div> <!-- end text box -->
        <h3><%- headline -%></h3>

        <% for(var i=0; i < paragraphs.length; i++) {%>
          <p>
            <%- paragraphs[i] -%>
          </p>
        <% } %>

      </div>
    </div>
  </div>
</div>
