<div class="how-it-works section <% if (id == 'how-it-works') { %> shadow-background <% } %>" id="<%- id %>">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title"><%- title %></h2>
            </div>
            <div class="col-md-6">
                <div class="content">
                    <div class="text">
                        <%- content %>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
              <%- include('../blocks/hi-res-img', { path: imgPath, alt: title, cls: "img-responsive image" })%>
            </div>
        </div>
        <!-- <div class="row">
          <div class="col-sm-12">
              <h3 class="sub-title">Further more</h3>
              <ul class="separator compact-list">
                <% for(var i=0; i < links.length; i++) {%>
                    <li><i class="material-icons"><%- links[i].downloadable? "file_upload" : "link" %> </i><a href="<%- links[i].href %>" target="_blank" ><%- links[i].link %></a></li>
                <% } %>
              </ul>
          </div>
        </div> -->
    </div>
</div>
