<div class="col-md-6 person-block">
    <div class="person-info">
        <img class="person-image" src="<%= image %>"/>
        <div class="person-image highlight"></div>
        <div class="person-details">
            <h4 class="name text-primary"><%= name %></h4>
            <h4 class="position"><%- title %></h4>
        </div>
    </div>
    <div class="bio hidden">
        <%= bio %>
    </div>
    <a class="links hidden">
      <%- typeof links != 'undefined' ? JSON.stringify(links) : "" %>
    </a>
    <p class="link hidden">
      <%= email %>
    </p>
</div>
