<!DOCTYPE html>
<html>
    <%- include('partials/head', { title: 'ICO Commit Page', meta: content.meta_head, GA_ID: GA_ID, FB_PIXEL_ID: FB_PIXEL_ID}); %>
    <body>
        <div class="background-wrapper">
          <div class="background"></div>
        </div>
        <%- include('partials/header', { active: 'commit', hashes: hashes, PLATFORM_ENABLED: PLATFORM_ENABLED }); %>

        <div id="react-root-commit"></div>

        <script src="/common<%= hashes.jsBundleHash %>.js"></script>
        <script src="/commit<%= hashes.jsBundleHash %>.js"></script>
        <noscript>
          <p>This page requires JavaScript to be enabled.</p>
        </noscript>
        <%- include('partials/footer', Object.assign({}, content.footer, { hide: true })); %>
    </body>
</html>
