<!DOCTYPE html>
<html>
    <%- include('partials/head', {title: 'FAQ', meta: content.meta_head, GA_ID: GA_ID, FB_PIXEL_ID: FB_PIXEL_ID }); %>
    <body>
        <div class="background-wrapper">
          <div class="background"></div>
        </div>
        <%- include('partials/header', { active: 'faq', hashes: hashes }); %>
        <div class="main container">

          <% if( FAQ_ENABLED ) { %>
           <%- include('partials/faq', faq ); %>
          <% } else { %>
            <div class="section whitepaper ecosystem">
                <div class="text-box">
                    <h5>Coming soon</h5>
                    <div class="underline"></div>
                </div> <!-- end text box -->
            </div>
          <% } %>

          <script src="/page<%= hashes.jsBundleHash %>.js"></script>
          <noscript>
            <p>This page requires JavaScript to be enabled.</p>
          </noscript>
        </div>
        <%- include('partials/footer', content.footer); %>
    </body>
</html>
