<!DOCTYPE html>
<html>
    <%- include(
    'partials/head',
    {
      title: 'ICBM Commit Page',
      meta: content.meta_head,
      GA_ID: GA_ID,
      FB_PIXEL_ID: FB_PIXEL_ID,
      TWITTER_PIXEL_ID: TWITTER_PIXEL_ID,
    }); %>
    <body>
        <div class="background-wrapper">
          <div class="background"></div>
        </div>
        <%- include('partials/header', { active: 'commit', hashes: hashes, PLATFORM_ENABLED: PLATFORM_ENABLED }); %>
        <div class="main-wrapper">
          <%- include('partials/home', { PLATFORM_ENABLED: PLATFORM_ENABLED }); %>

          <script src="/common<%= hashes.jsBundleHash %>.js"></script>
          <script src="/main<%= hashes.jsBundleHash %>.js"></script>
          <script src="/page<%= hashes.jsBundleHash %>.js"></script>
          <noscript>
            <p>This page requires JavaScript to be enabled.</p>
          </noscript>
        </div>
        <%- include('partials/footer', content.footer); %>
    </body>
</html>
