<html>
    <head>
        <link rel="stylesheet" type="text/css" href="app.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,900" rel="stylesheet">
    </head>
    <body>
        <%- include('partials/header'); %>
        <div class="container">
            <div id="react-root"></div>
            <%- include('partials/commit_funds',  content.commit_funds ); %>
            <%- include('partials/participating', content.participating); %>
            <%- include('partials/easy_access', content.easy_access); %>
            <%- include('partials/team'); %>
            <%- include('partials/advisors'); %>
            <h1> Welcome <%= content.name -%> you are <%= content.age -%> <h1>
            <script src="/main.js"></script>

            <noscript>
                <p>This page requires JavaScript to be enabled.</p>
            </noscript>
        </div>
    </body>
</html>
