<!DOCTYPE html>
<html>
    <%- include('partials/head', { title: 'ICO Commit Page', meta: content.meta_head, GA_ID: GA_ID}); %>
    <body>
        <div class="background-wrapper">
          <div class="background"></div>
        </div>
        <%- include('partials/header', { active: 'commit', hashes: hashes }); %>
        <div class="container">
          <%- include('partials/home'); %>

          <script src="/main<%= hashes.jsBundleHash %>.js"></script>
          <noscript>
            <p>This page requires JavaScript to be enabled.</p>
          </noscript>
        </div>
        <%- include('partials/footer', content.footer); %>
        <%- include('partials/scripts'); -%>
    </body>
</html>
