<!DOCTYPE html>
<html>
    <%- include('partials/head', {title: 'Product', meta: content.meta_head, GA_ID: GA_ID, PIXEL_ID: PIXEL_ID }); %>
    <body class="product-page">
        <div class="background-wrapper">
          <div class="background product-background"></div>
        </div>
        <%- include('partials/header', { active: 'product', hashes: hashes }); %>
        <div class="main main-product">
          <% if( PLATFORM_ENABLED ) { %>
            <%- include('partials/product' ); %>
          <% } else { %>
            <div class="container full-screen-height section whitepaper ecosystem">
                <div class="text-box">
                    <h5>Coming soon</h5>
                    <div class="underline"></div>
                </div> <!-- end text box -->
            </div>
          <% } %>
          <%- include('partials/footer', content.footer); %>

          <script src="/page<%= hashes.jsBundleHash %>.js"></script>
          <noscript>
            <p>This page requires JavaScript to be enabled.</p>
          </noscript>
        </div>
    </body>
</html>
