<!DOCTYPE html>
<html>
    <%- include('partials/head', {title: 'White paper', meta: content.meta_head }); %>
    <body>
        <%- include('partials/header', { active: 'whitepaper', hashes: hashes }); %>
        <div class="main container">
          <%- include('partials/whitepaper' ); %>
          <%- include('partials/footer', content.footer); %>

          <script src="/main<%= hashes.jsBundleHash %>.js"></script>
          <noscript>
            <p>This page requires JavaScript to be enabled.</p>
          </noscript>
        </div>
    </body>
</html>
